[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=LayerCycler
X-Python-2-Compatible=false
Name=LayerCycler
Comment=Cycle through layers / Переключение слоев

